.message {
    border: 1px solid green;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.imageAndText {
    display: flex;
    flex-direction: row-reverse;
}

.imageAndText img {
    width: 48px;
    height: 48px;
}

.text {
    text-align: right;
    padding: 8px 20px 8px 12px;
    position: relative;
    color: #ffffff;
}

.text:after {
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    right: 10px;
    bottom: 0;
    left: 0;
    background-color: #0066CC;
    border-radius: 10px;
}

.name {
    font-family: Montserrat;
    font-weight: 600;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;

}

.messageText {
    font-family: Montserrat;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;

}

.time {
    width: 48px;
    border: 1px solid red;
    text-align: center;
    font-family: Montserrat;
    font-weight: 600;
    font-size: 10px;
    line-height: 100%;
    letter-spacing: 0%;
}