.buttonsContainer {
  display: flex;
  gap: 24px;
  margin-bottom: 30px;
}

.responseContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.imageContainer {
  width: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
}

.image {
  width: 80%;
}

.textContainer {
  width: 100%;
  padding-left: 88px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.code {
  font-family: Montserrat;
  font-weight: 500;
  font-style: Medium;
  font-size: 30px;
  line-height: 100%;
  letter-spacing: 0%;
}

.text {
  font-family: Montserrat;
  font-weight: 500;
  font-style: Medium;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
}
.info {
  font-family: Montserrat;
  font-weight: 500;
  font-style: Medium;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
}
