.sidebar {
    
}

.sidebar.open {
    background-color: gold;
}

.background {
}

.nav {
}

.nav a {
    background-color: red;
}

.nav a:hover {
}

.nav a.active {
    background-color: black;
}
.close {
}

.close img {
}
