.friendMessage {
    display: flex;
    flex-direction: column;
}

.friendImageAndText {
    display: flex;
    align-items: end;
}

.friendImageAndText img {
    width: 48px;
    height: 48px;
}

.friendText {
    padding: 16px 8px 16px 8px;
    position: relative;
    background-color: #f5f7fb;
    border-radius: 16px 16px 16px 0;
    margin-left: 20px;
    margin-bottom: 5px;
}

.friendText:after {
    content: '';
    position: absolute;
    background-color: #f5f7fb;
    width: 11px;
    height: 12px;
    clip-path: polygon(100% 0, 0% 100%, 100% 100%);
    bottom: 0;
    left: -10px;
}

.friendName {
    font-family: Montserrat;
    font-weight: 600;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
}

.friendMessageText {
    font-family: Montserrat;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    overflow: hidden;
    word-wrap: break-word;
    white-space: normal;
}

.friendTime {
    width: 48px;
    text-align: center;
    font-family: Montserrat;
    font-weight: 600;
    font-size: 10px;
    line-height: 100%;
    letter-spacing: 0%;
}